src/leg/schemas/em-subschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://docs.oasis-open.org/legaldocml/ns/akn/3.0" targetNamespace="http://docs.oasis-open.org/legaldocml/ns/akn/3.0" elementFormDefault="qualified">

<xs:element name="akomaNtoso">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="doc" />
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="doc">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="meta" />
            <xs:element ref="preface" minOccurs="0" />
            <xs:element ref="mainBody" />
            <xs:element ref="attachments" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="name" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ExplanatoryMemorandum" />
                    <xs:enumeration value="PolicyNote" />
                    <xs:enumeration value="annex" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:element>

<xs:element name="meta" />


<!-- attachments -->

<xs:element name="attachments">
    <xs:complexType>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="attachment" />
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="attachment">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="doc" />
        </xs:sequence>
    </xs:complexType>
</xs:element>


<!-- preface -->

<xs:element name="preface">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="p" type="header-paragraph" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name="header-paragraph" mixed="true">
    <xs:complexContent>
        <xs:extension base="inline-container">
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="docType" />
                <xs:element ref="docNumber" />
            </xs:choice>
            <xs:attribute name="class" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="center" />
                        <xs:enumeration value="right" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:extension>
    </xs:complexContent>
</xs:complexType>

<xs:element name="docType" type="inline-container" />

<xs:element name="docNumber" type="inline-container" />


<!-- body -->

<xs:element name="mainBody">
    <xs:complexType>
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="level" />
            <xs:element ref="section" />
            <xs:element ref="paragraph" />
            <xs:element ref="p" />
            <xs:element ref="table" />
            <xs:element ref="blockContainer" />
        </xs:choice>
    </xs:complexType>
</xs:element>


<!-- hcontainers -->

<xs:element name="level">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="heading" minOccurs="0" />
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="intro" minOccurs="0" />
                    <xs:choice maxOccurs="unbounded">
                        <xs:element ref="level" />
                        <xs:element ref="section" />
                        <xs:element ref="paragraph" />
                    </xs:choice>
                    <xs:element ref="wrapUp" minOccurs="0" />
                </xs:sequence>
                <xs:element ref="content" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="section">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="num" />
            <xs:element ref="heading" />
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="level" />
                <xs:element ref="paragraph" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="paragraph">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="num" minOccurs="0" />
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="intro" minOccurs="0" />
                    <xs:element ref="subparagraph" maxOccurs="unbounded" />
                    <xs:element ref="wrapUp" minOccurs="0" />
                </xs:sequence>
                <xs:element ref="content" />
          </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="subparagraph">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="num" minOccurs="0" />
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="intro" minOccurs="0" />
                    <xs:element ref="subparagraph" maxOccurs="unbounded" />
                    <xs:element ref="wrapUp" minOccurs="0" />
                </xs:sequence>
                <xs:element ref="content" />
          </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="blockContainer">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="num" />
            <xs:element ref="p" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:element>


<!-- block containers -->

<xs:complexType name="block-container">
    <xs:choice maxOccurs="unbounded">
        <xs:element ref="p" />
        <xs:element ref="table"  />
        <xs:element ref="block"  />
    </xs:choice>
</xs:complexType>

<xs:element name="intro" type="block-container" />

<xs:element name="content" type="block-container" />

<xs:element name="wrapUp" type="block-container" />


<!-- embedded structures -->

<xs:element name="block">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="embeddedStructure" />
        </xs:sequence>
        <xs:attribute name="name" >
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="embeddedStructure" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:element>

<xs:element name="embeddedStructure">
    <xs:complexType>
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="level" />
            <xs:element ref="section" />
            <xs:element ref="paragraph" />
        </xs:choice>
    </xs:complexType>
</xs:element>


<!-- blocks -->

<xs:element name="num">
    <xs:complexType mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="b" />
            <xs:element ref="i" />
            <xs:element ref="u" />
        </xs:choice>
    </xs:complexType>
</xs:element>

<xs:complexType name="inline-container" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="b" />
        <xs:element ref="i" />
        <xs:element ref="u" />
        <xs:element ref="a" />
        <xs:element ref="marker" />
        <xs:element ref="authorialNote" />
    </xs:choice>
</xs:complexType>

<xs:element name="heading" type="inline-container" />

<xs:element name="p">
    <xs:complexType mixed="true">
        <xs:complexContent>
            <xs:extension base="inline-container">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="br" />
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:element>

<xs:element name="table" />


<!-- inline -->

<xs:element name="b">
    <xs:complexType mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="i" />
            <xs:element ref="u" />
        </xs:choice>
    </xs:complexType>
</xs:element>

<xs:element name="i">
    <xs:complexType mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="u" />
        </xs:choice>
    </xs:complexType>
</xs:element>

<xs:element name="u">
    <xs:complexType mixed="true" />
</xs:element>

<xs:element name="a" />

<xs:element name="marker">
    <xs:complexType>
        <xs:attribute name="name" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="tab" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:element>

<xs:element name="authorialNote">
    <xs:complexType>
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="p" />
            <xs:element ref="blockContainer" />
        </xs:choice>
        <xs:attribute name="marker" use="required" type="xs:integer" />
    </xs:complexType>
</xs:element>

<xs:element name="br">
    <xs:complexType />
</xs:element>

</xs:schema>
